<!-- left menu starts -->
<div class="span2 main-menu-span">
  <div class="well nav-collapse sidebar-nav">
    <ul class="nav nav-tabs nav-stacked main-menu">
      <li class="nav-header hidden-tablet">Main</li>
      <li>
        <a class="ajax-link" href="/" data-remote="true">
          <i class="icon-home"></i>
          <span class="hidden-tablet"> Dashboard</span>
        </a>
      </li>
      <% if can?(:manage, User) %>
        <li>
          <%= link_to users_path, :class=>"ajax-link" do %>
            <i class="icon-align-justify"></i>
            <span class="hidden-tablet">Management Users</span>
          <% end %>
        </li>
      <% end %>
      <% if can?(:manage, Supplier) %>
        <li>
          <%= link_to suppliers_path, :class=>"ajax-link" do %>
            <i class="icon-align-justify"></i>
            <span class="hidden-tablet">Suppliers</span>
          <% end %>
        </li>
      <% end %>
      <% if can?(:manage, Customer) %>
        <li>
          <%= link_to customers_path, :class=>"ajax-link" do %>
            <i class="icon-align-justify"></i>
            <span class="hidden-tablet">Customers</span>
          <% end %>
        </li>
      <% end %>
      <% if can?(:manage, Category) %>
        <li>
          <%= link_to categories_path, :class=>"ajax-link" do %>
            <i class="icon-align-justify"></i>
            <span class="hidden-tablet">Categories</span>
          <% end %>
        </li>
      <% end %>
    </ul>
    <label id="for-is-ajax" class="hidden-tablet" for="is-ajax" style="display: none;"><div class="checker" id="uniform-is-ajax">
    <span class="checked"><input id="is-ajax" type="checkbox" style="opacity: 0;" checked="checked"></span>
    </div> Ajax on menu</label>
  </div><!--/.well -->
</div><!--/span-->
<!-- left menu ends -->
<noscript>
  <div class="alert alert-block span10">
    <h4 class="alert-heading">Warning!</h4>
    <p>You need to have 
      <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> 
      enabled to use this site.
    </p>
  </div>
</noscript>