<div id="content" class="span10">
  <!-- content starts -->
  <div class="row-fluid sortable">
    <div class="box span12">
      <div class="box-header well" data-original-title>
        <h2><i class="icon-edit"></i>Item Details</h2>
        <div class="box-icon">
          <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
          <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
          <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
        </div>
      </div>
      <div class="box-content">
        <div class="box-content">
          <ul class="dashboard-list">
            <li>
              <strong>Kode: </strong> <a href="#"><%= @item.code %></a><br>
              <strong>Ci Number: </strong> <a href="#"><%= @item.ci_number if @item.ci_number %></a><br>
              <strong>Nama: </strong> <a href="#"><%= @item.name %></a><br>
            </li>
          </ul>
        </div>
      </div>
    </div><!--/span-->
  </div><!--/row-->
</div>