<div id="content" class="span10">
  <!-- content starts -->
  <div class="row-fluid sortable">
    <div class="box span12">
      <div class="box-header well" data-original-title>
        <h2><i class="icon-edit"></i> Edit Category</h2>
        <div class="box-icon">
          <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
          <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
          <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
        </div>
      </div>
      <div class="box-content">
        <%= form_for(@category, :url => category_path(@category), :method => :put, :html => { :class=>"form-horizontal", :multipart => true }) do |f| %>
          <%= render "form", f:f, category: @category %>
        <% end %>
      </div>
    </div><!--/span-->
  </div><!--/row-->
</div>